@model List<WebRadio.Models.Countries>

<h2>Contries</h2>

@if (Model.Count > 0)
{
    <div class="rowstyle">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("ByCountry",new { id=item.value })">@item.name</a>
        }
    </div>
}

